.pagination-container {
    display: flex;
    gap: 1.5rem;
    font-size: 18px;
    justify-content: flex-end;
    margin-bottom: 2rem;
    color: #fff;
    margin-top: -2.3rem;
}

.pagination-container button {
    font-size: 24px;
}