.pokemon-card {
    background-color: aqua;
    width: 100%;

    display: flex;
    justify-content: space-between;
    max-width: 100%;
    min-width: 100%;
}

.name-types {
    padding: 1rem;
    margin-left: -10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.types {
    display: flex;
    gap: 1rem;
}

.name-types h2 {
    font-size: 20px;
    font-weight: bold;
}

.type {
    background: yellow;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.id-heart {
    
}